@import "../../node_modules/normalize.css/normalize.css";

html, body {height: 100%;}

body {font-family: 'Arial', sans-serif;}

* {box-sizing: border-box;}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 120px;
}










